
nav > ul {
    text-align: center;
    display: flex;

}

nav li {
    list-style: none;
    font-size: 20px;
    padding: 5px 10px;
}

nav li:hover {
    background-color: rgb(86, 132, 134);
}

a {
    text-decoration: none;
    color: black;
}

.nested {
    display: none;
}

.fh:hover > .nested{
    /* ---------------------very important----------------------  */
    display: block;
    position: absolute;
    background-color: antiquewhite;
    padding-left: 0;
}